* {
    font-size: 1em;
}

.fancy-input {
    display: flex;
    height: 60px;
    width: 250px;
}

#input-content {
    position: relative;
    padding: 1em 0 4px 1em;
    display: flex;
    flex: 1;
    background: #FFF;
    border-radius: 4px;
    transition: .25s;
}

.field {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: #000;
}

.placeholder {
    position: absolute;
    transition: .25s;
    top: 24.5px;
    left: 18px;
    pointer-events: none;
    color: #7D7D7F;
}

#input-content.focused .placeholder {
    top: 10%;
    font-size: 0.8em;
    color: #7D7D7F;
}

#pweye {
    position: absolute;
    top: 20px;
    height: 24px;
    left: 82%;
}