.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.login-section-module {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.login-module-data-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 1280px;
    flex: 1;
    gap: 1em;
}

.module-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 2em;
    background: #F5F5F7;
    border-radius: 2em;
}