body {
  overflow: hidden;
  color: #000;
  background: url(https://img.freepik.com/free-photo/metal-mesh-texture_23-2148121725.jpg?w=740&t=st=1706702178~exp=1706702778~hmac=de70b843d577cde63f7676c9d17f52b6564ca86060cd1c0f0c46c006e93cc910) no-repeat;
}

/*desktop styling*/

/*mobile styling*/

@media only screen and (max-width: 600px) {

  #quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
    height: 100vh;
  }

  #quizform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background: #FFF;
    border-radius: 20px;
    box-shadow: #000 0px 0px 10px;
  }

  #quizform span {
    font-size: 1em;
    margin: 0 0 18px;
  }

  #submit {
    padding: 8px;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
  }
}