.button-wrapper {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    flex: 1;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 16px;
    font-size: 1em;
    font-family: inherit;
    background: #10A37F;
    color: #ECECEC;
}

.button:hover {
    background: #0E8F6B;
}