body {
  background-color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#navbar {
  display: flex;
  flex-direction: row;
  background-color: orange;
  justify-content: space-between;
}

#left-region {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#right-region {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/* QUIZ */

#quiz {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  width: 60vw;
  height: 60vh;
  background-color: #FFF;
  align-self: center;
  justify-self: center;
}

#quiz #title {
  display: flex;
  align-self: center;
  font-size: 2em;
  font-weight: 700;
}

#question {
  display: flex;
  align-items: center;
  justify-content: center;
}

#answers {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#answer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border: solid 2px #C3C3C3;
  width: 40%;
  padding: 20px 12px;
  border-radius: 8px;
}

#answer-box:hover {
  background-color: #C3C3C370;
  cursor: pointer;
}