body {
  background-color: #000;
}

#outlet {
  display: flex;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px;
  border: solid 1px #FFF;
}

#navbar a {
  color: #FFF;
  text-decoration: none;
}

#table-container {
  margin: 50px;
  background-color: orange;
}

#styled-table {
  border-collapse: collapse;
  color: #FFF;
}

#styled-table th {
  border: solid 1px #FFF;
}

#styled-table td {
  border: solid 1px #FFF;
}