#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background: #FFF;
}

#outlet {
  display: flex;
  flex-grow: 1;
}

#mainWindow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  display: flex;
  padding: 1em;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 9;
  background: #FFF;
}

#blueLink {
  color: #142C8E;
  text-decoration: none;
}

#blueLink:hover {
  text-decoration: underline;
}

#left-region {
  display: flex;
  align-items: center;
}

#right-region {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1em;
}

#link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#link:hover {
  text-decoration: underline;
}

#logo {
  height: 2em;
}

/*LOGIN & SIGNUP STYLING*/

#loginSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #FFF;
  box-shadow: #000 0 0 5px 0;
  padding: 1em;
  border-radius: 1em;
  width: 30%;
  flex-direction: column;
}

#inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
}

#inputWrapper input {
  outline: none;
  border: solid 2px #00000030;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  font-size: 1em;
  transition: .5s;
}

#inputWrapper input:focus {
  border: solid 2px #142C8E;
}

#submitButton {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: .65em;
  font-size: 1em;
  text-decoration: none;
  background: #142C8E;
  border: solid 1px #142C8E;
  color: #FFF;
  cursor: pointer;
}

#signupLink {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: .65em;
  font-size: 1em;
  text-decoration: none;
  background: #FFF;
  border: solid 1px #142C8E;
  color: #142C8E;
  cursor: pointer;
}

/* ACCOUNT STYLING */

#account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #FFF;
  box-shadow: #000 0 0 5px 0;
  padding: 1em;
  border-radius: 1em;
  width: 90%;
  flex-direction: column;
}