span {
  font-size: 1em;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background: #FFF;
}

#outlet {
  display: flex;
  flex-grow: 1;
}

#mainWindow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  display: flex;
  padding: 1em;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 9;
  background: #FFF;
}

#blueLink {
  color: #142C8E;
  text-decoration: none;
}

#blueLink:hover {
  text-decoration: underline;
}

#leftRegion {
  display: flex;
  align-items: center;
}

#rightRegion {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1em;
}

#link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#link:hover {
  text-decoration: underline;
}

#logo {
  height: 2em;
}

/*LOGIN & SIGNUP STYLING*/

#loginSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #FFF;
  box-shadow: #000 0 0 5px 0;
  padding: 1em;
  border-radius: 1em;
  width: 30%;
  flex-direction: column;
}

#inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
}

#inputWrapper input {
  outline: none;
  border: solid 2px #00000030;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  font-size: 1em;
  transition: .5s;
}

#inputWrapper input:focus {
  border: solid 2px #142C8E;
}

#submitButton {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: .65em;
  font-size: 1em;
  text-decoration: none;
  background: #142C8E;
  border: solid 1px #142C8E;
  font-weight: 800;
  color: #FFF;
  cursor: pointer;
}

#signupLink {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: .65em;
  font-size: 1em;
  text-decoration: none;
  background: #FFF;
  border: solid 1px #142C8E;
  font-weight: 800;
  color: #142C8E;
  cursor: pointer;
}

/* ACCOUNT STYLING */

#account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: #FFF;
  box-shadow: #000 0 0 5px 0;
  padding: 1em;
  border-radius: 1em;
  width: 90%;
  flex-direction: column;
}

#accountData {
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 50%;
}

#right {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 30%;
}

#header {
  font-weight: 700;
  font-size: 1em;
}

#currency {
  font-weight: 350;
  font-size: 3em;
}

#userSearchBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#userSearch {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 4px;
  border: solid 2px #00000030;
  transition: .5s;
}

#userSearch:focus {
  outline: none;
  border: solid 2px #142C8E;
}

#userList {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#userList ul {
  padding: 0;
}

#userList li {
  padding: 8px 0 8px 1em;
  list-style: none;
  border: solid 2px #00000030;
  border-radius: 4px;
  transition: .5s;
  cursor: pointer;
}

#transferBox {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 4px;
  border: solid 2px #00000030;
  transition: .5s;
}

#transferButton {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 50px;
  padding: .65em;
  font-size: 1em;
  text-decoration: none;
  background: #142C8E;
  border: solid 1px #142C8E;
  font-weight: 800;
  color: #FFF;
  cursor: pointer;
}