input {
  font-size: 1em !important;
  outline: none !important;
}

button {
  font-size: 1em !important;
}

a {
  font-size: 1em !important;
  color: #000;
}

span {
  font: 1em !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#outlet {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
}

#mainWindow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* NAVBAR STYLING */

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

#navbar #leftRegion {
  display: flex;
  align-items: center;
}

#navbar #rightRegion {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar #link {
  background: none;
  border: none;
  outline: none;
  padding: 1em 0 1em;
  text-decoration: none;
}

/* LOGIN STYLING */

#loginSection {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  padding: 1em;
  width: 38%;
}

#inputWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

#loginSection #inputWrapper input {
  border: solid 2px #B5B5B5;
  padding: 1em;
  background: #FFF;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: .5s;
}

#loginSection #inputWrapper input:focus {
  border: solid 2px #142C8E;
}

#submitButton {
  padding: 1em;
  border: none;
  outline: none;
  background: #142C8E;
  font-weight: 700;
  color: #FFF;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

#signupLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: solid 2px #142C8E;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  background: #FFF;
  color: #142C8E;
  border-radius: 100px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

#blueLink {
  color: #142C8E;
}

@media only screen and (max-width: 600px) {

  #loginSection {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10em;
  }
}

/* ACCOUNT STYLING */

#account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1em;
  box-sizing: border-box;
}

#accountData {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#accountData #left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#accountData #right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#header {
  font-weight: 700;
}

#currency {
  font-weight: 300;
  font-size: 2em;
}

#userSearchBox {
  border: solid 2px #B5B5B5;
  border-radius: 8px;
  background: #FFF;
}

#userSearch {
  border-radius: 8px;
  border: none;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

#userList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#userList li {
  padding: 1em;
  cursor: pointer;
}

#transferBox {
  border-radius: 8px;
  border: solid 2px #B5B5B5;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
}

#transferButton {
  box-sizing: border-box;
  width: 100%;
  background-color: #142C8E;
  border-radius: 100px;
  border: none;
  color: #FFF;
  padding: 1em;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {

  #account {
    width: 100%;
    padding-bottom: 10em;
  }
}