#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #171717;
    font-family: 'Roboto', sans-serif;
}

* {
    scrollbar-width: none;
}

.globalnav-flex {
    display: flex;
}

.globalnav-flex-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #212121;
}

.globalnav-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.globalnav-profile {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbutton-flex {
    display: flex;
}

.navbutton-flex-link {
    text-decoration: none;
    color: #ECECEC;
    height: 44px;
    line-height: 44px;
    padding: 0 8px;
}

.navbutton-flex-link:hover {
    background: #ECECEC10;
}

.align-flex {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    gap: 4px;
}

.rounded-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}

.rounded-flex:hover {
    background: #ECECEC10;
}

.rounded-i {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
}

.profile-flex {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.profile-name {
    display: flex;
    height: 100%;
    align-items: center;
    color: #ECECEC;
    cursor: pointer;
}

.hidden-button-wrapper {
    display: flex;
    width: 100%;
    background: #212121;
    top: 100%;
    position: absolute;
    display: none;
}

.hidden-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    flex: 1;
    color: #ECECEC;
}

.hidden-button:hover {
    background: #ECECEC10;
}

.profile-flex:hover .hidden-button-wrapper {
    display: block;
}

/* login */

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 80px;
}

.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    padding: 40px 40px 24px;
}

.title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2em;
    color: #333;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding-bottom: 80px;
}

/* profile */

.profile-page-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profile-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 80px 24px;
}

.profile-picture {
    height: 128px;
    width: 128px;
    border-radius: 9999px;
    margin: 1em auto;
    margin-bottom: 24px;
}

.profile-tournaments-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 80px;
}

/* tournaments */

.tournament-cell-wrapper {
    display: flex;
    width: fit-content;
}

.tournament-cell-content {
    width: 220px;
    height: 260px;
    display: flex;
    flex-direction: column;
}

.cell-image-wrapper {
    position: relative;
    display: flex;
}

.cell-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.cell-tournament-title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    color: #ECECEC;
    font-size: 20px;
}

.cell-body {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
    background: #ECECEC;
}

.cell-text {
    display: flex;
    flex-direction: column;
}

.tournament-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    margin: 0;
}

.profile-sports-flex {
    padding: 1em;
    background: #212121;
    border-radius: 8px;
    display: flex;
}

.sports-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.sportbox-flex {
    display: flex;
}

.sportbox-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.sportbox-text {
    text-align: center;
    color: #ECECEC;
    font-size: 16px;
}