.player-module {
    display: flex;
    flex: 1;
    background: url('../../assets/134241286.webp');
    background-size: cover;
}

.player-module-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    backdrop-filter: blur(20px);
}