* {
    font-size: 1em;
}

#fancy-button {
    display: flex;
    height: 60px;
    width: 200px;
}

#button {
    flex: 1;
    padding: 0;
    color: #0070BA;
    background: #FFF;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #0070BA;
    transition: .25s;
}

#button:hover {
    background: #0070BA;
    color: #FFF;
}