body {
  background-color: #000;
}

.main {
  border: solid 1px red;
}

.titlebar {
  background-color: #32344f;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: solid 2px #000;
}

span {
  font-size: 1.5em;
}

.oppgave {
  background-color: #161616;
  border: solid 1px #fff;
  width: 60%;
  margin: auto;
  padding: 2px;
}

p {
  color: #fff;
  margin: 3px;
}