* {
    font-size: 1em;
    box-sizing: border-box;
}

#input {
    display: flex;
    width: 250px;
    height: 50px;
}

#content-input {
    position: relative;
    display: flex;
    padding: 1em 0 1em 1em;
    flex: 1;
    background: #FFF;
    border: solid 1.5px #1D1D1F;
    border-radius: 8px;
}

#field {
    display: flex;
    flex: 1;
    outline: none;
    background: none;
    border: none;
    padding: 0;
    color: #1D1D1F;
}

#placeholder {
    position: absolute;
    transition: .25s;
    top: 16px;
    left: 16px;
    pointer-events: none;
    color: #1D1D1F;
    text-align: center;
}

#content-input.content-focused #placeholder {
    top: 2px;
    font-size: .75em;
    color: #8B8B92;
}