body, html {
  height: 100%;
  margin: 0;
}

#navbar {
  background: #00000090;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  padding: 8px;
  z-index: 100;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

#outlet {
  position: relative;
  z-index: 1;
  background-image: url('https://i.ibb.co/pwRn72q/beautiful-nature-mountain-scenery-with-flowers-free-photo.jpg');
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginbox {
  padding: 12px;
  display: flex;
  align-items: center;
  background: #FFF;
  border-radius: 20px;
  height: fit-content;
  width: 280px;
  display: flex;
  flex-direction: column;
}

#loginbox form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: solid 2px #777;
  width: calc(100% - 16px);
}

input:focus {
  outline: none;
}