.globalnav {
    display: flex;
    height: 48px;
    background: maroon;
    font-size: 1em;
    color: #00000080;
}

.globalnav-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding: 0 1em;
}

.globalnav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.globalnav-list-item {
    display: flex;
    height: 48px;
}

.globalnav-link {
    padding: 0 8px;
    display: flex;
    text-decoration: none;
}

.globalnav-image-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-self: center;
    color: #FFFFFF80;
    font-size: 2em;
}

.globalnav-text-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF80;
}

.globalnav-text-container:hover {
    color: #FFF;
}