a {font-size: 1em;}
h1 {color: #fff;}
p {color: #fff;}

.main {
  margin-left: 80px;
  height: fit-content;
}

.profile-main {
  margin-left: 80px;
  height: fit-content;
}

.testing-main {
  margin-left: 80px;
  height: fit-content;
}

.klassekart-main {
  margin-left: 80px;
  display: flex;
  height: fit-content;
}

.klassekart-main .leftwrapper {
  margin-left: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.klassekart-main .rightwrapper {
  margin-right: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.klassekart-main .row {
  display: flex;
}

.klassekart-main .elev {
  padding: 1em;
  width: 50px;
  margin: .5em .1em .5em .1em;
  border: solid 1px #000;
  font-size: 1em;
  border-radius: 5px;
  background-color: #fff;
}

.oppg-main {
  margin-left: 80px;
  height: fit-content;
}

img {
  width: 75%;
  border-radius: 8px;
}

.outlet {
  background-color: #443f81;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: sticky;
  background-color: #24223c;
  padding: 5px 0 5px 0;
  border-bottom: solid 1px #fff;
  z-index: 1000;
  top: 0;
}

.footer  {
  background-color: #24223c;
  padding: 5px 0 5px 0;
  border-top: solid 1px #fff;
}

.footerbox {
  margin-left: 80px;
}

.navbar a {
  background-color: 12111e;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 0 3px 0 3px;
  margin: 4px;
}

.navbar a:hover {
  background-color: #1e1c31;
  color: #fff;
  text-decoration: none;
  transition-duration: .5s;
}