body {
    margin: 0;
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boks {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: red;
}