body {
  overflow: hidden;
  background-color: #0E0F16;
}

h1, a, p {
  color: #FFF;
  margin: 0;
}

a {
  text-decoration: none;
}

#outlet {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

/* DESKTOP styling */

/* NAVBAR styling */

#navbar {
  gap: 5px;
  top: 0;
  position: sticky;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #FFFFFF50;
}

#left-region {
  display: flex;
}

#right-region {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

#navbar a {
  padding: 10px 18px;
}

/* BUSS styling */

#main {
  background-color: brown;
  flex-grow: 1;
}

#aimed {
  color: #F7D96E;
}

/* MOBILE BUSS styling */

@media screen and (max-width: 600px) {
  #main {
    display: flex;
  }

  #buss-container {
    padding: 5px 0 5px 0;
    gap: 5px;
    width: 100%;
    display: flex;
    background-color: #0E0F16;
    flex-direction: column;
  }

  #header {
    align-self: center;
    font-size: 2em;
    font-weight: 500;
    display: flex;
  }

  #labels {
    padding: 0 10px 0;
    justify-content: flex-end;
    display: flex;
  }

  #departureIndex {
    padding: 0 5px 0 !important;
    list-style: none;
    border-top: solid 1px #FFF;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  #departureIndex > li:not(:first-child) {
    border-top: 1px solid #FFFFFF50;
  }

  #departure {
    padding: 5px 10px 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #transportCode {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000050;
    border-radius: 10px;
  }

  #bus {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  
  #searchForm {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #searchForm div {
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  input {
    border: solid 2px #00000000;
    font-size: 16px;
    flex-grow: 1;
    padding: 8px;
    border-radius: 100px;
  }

  button {
    border: solid 2px #00000000;
    flex-grow: 1;
    padding: 8px;
    border-radius: 100px;
    background-color: #FFF;
    color: #000;
  }

  button:focus, input:focus {
    outline: none;
    border: solid 2px #0000FF;
  }
}