.signup-section-module {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.signup-module-data-content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    max-width: 1280px;
    flex: 1;
    gap: 1em;
}

.module-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 400px;
}

.module-left-info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100%;
}

.module-text {
    font-size: 12px;
    margin: 12px 0 0;
}

.module-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 400px;
}

.module-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    height: 100%;
    width: 100%;
    background: #F5F5F7;
    border-radius: 25px;
}