#signup.window {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#signup.left-aside {
    background: green;
    flex: 1;
}

#signup.right-aside {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}